

body{
overflow: hidden;
font-family: sans-serif;
margin: 0;

}

.container{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(./images/woodenCuttingBoard.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}


.nameBanner{
  height: 200px;
  width: 800px;
  /*background-color: black;
  opacity: .5;*/
}

/*//Transparent text effect from: https://www.youtube.com/watch?v=kqtxpl-vxjw*/

h1{
  font-family: 'Anton', sans-serif;
  color: #fff;
  font-size: 8em;
  text-align: center;
  text-shadow: 0 10px 20px rbga(0, 0, 0, 1);
  mix-blend-mode: overlay;
  box-shadow: 0 10px 20px rbga(0, 0, 0, 1);
  background: rbga(0, 0, 0, .4);
  padding-bottom: 40px;
  letter-spacing: 10px;


}

/*//Transparent text effect from: https://www.youtube.com/watch?v=kqtxpl-vxjw*/

.categories{
  height: 50px;
  width: 200px;
  display: inline-block;
  background-color: black;
  position: relative;
  padding-bottom: 5px;
  font-size: 30px;
  opacity: .8;
  color: white;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  /*text-shadow: 0 10px 20px rbga(0, 0, 0, 1);*/
  /*mix-blend-mode: overlay;*/
  /*box-shadow: 0 10px 20px rbga(0, 0, 0, 1);*/
  margin:10px;

}

#categoriesDiv{
  visibility: hidden;
}

/*//Transparent text effect from: https://www.youtube.com/watch?v=kqtxpl-vxjw*/

#startButton{
  height: 60px;
  width: 200px;
  background-color: black;
  position: relative;
  padding-bottom: 5px;
  font-size: 30px;
  opacity: .8;
  color: white;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  /*text-shadow: 0 10px 20px rbga(0, 0, 0, 1);*/
  /*mix-blend-mode: overlay;*/
  /*box-shadow: 0 10px 20px rbga(0, 0, 0, 1);*/
  margin-bottom: 20px;

}

.question{
  height: 300px;
  width: 600px;
  /*background-color: red;*/
  display: block;
  margin-bottom: 80px;
}

#ques{
  visibility: hidden;
}

#ques2{
  visibility: hidden;
}

#categoriesDiv{
  visibility: hidden;
}


h4{
  margin: 0;
  padding:10px;
  font-family: 'Anton', sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.picDiv{
  height: 200px;
  width:250px;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;

}

#ansDiv{
  height: 100px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-around;

}

/*//Transparent text effect from: https://www.youtube.com/watch?v=kqtxpl-vxjw*/

.ansButton{
  height: 40px;
  width: 200px;
  margin: 5px;
  background-color: black;
  position: relative;
  padding-bottom: 5px;
  font-size: 20px;
  opacity: .8;
  color: white;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  /*text-shadow: 0 10px 20px rbga(0, 0, 0, 1);*/
  /*mix-blend-mode: overlay;*/
  /*box-shadow: 0 10px 20px rbga(0, 0, 0, 1);*/
  margin-top: 15px;
  outline: none;
}

:focus{
  outline: none;
    }

.buttonADiv{
  height: 25px;
  width: 300px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  align-items: center;
}

/*//Transparent text effect from: https://www.youtube.com/watch?v=kqtxpl-vxjw*/

#counter{
  bottom: -20px;
  height: 60px;
  width: 200px;
  background-color: black;
  border: 2px solid black;
  bottom: 30px;
  position: absolute;
  left: 630px;
  padding-top:  10px;
  font-size: 30px;
  opacity: .8;
  color: white;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  /*text-shadow: 0 10px 20px rbga(0, 0, 0, 1);*/
  /*mix-blend-mode: overlay;*/
  /*box-shadow: 0 10px 20px rbga(0, 0, 0, 1);*/
}
